html
  head
    include includes/imports.jade
  body
    #wrapper.container
      include includes/navbar.jade
      .panel.panel-default
        #header.row
          .col-md-3
          #header-inner.col-md-6.col-xs-12
          .col-md-3
        #content.row
          .col-md-1
          #content-inner.col-md-10.col-xs-12
          .col-md-1
        #footer.row
          #footer-inner
  script.
    var authed = #{authed}
