@import url(https://fonts.googleapis.com/css?family=Fugaz+One);

body{
  font-family: "Fugaz One" !important;
}

#title{
  text-align: center;
}

#wrapper{
  margin-top: 20px;
}

#wrapper .row{
  margin: 20px;
}

#location-input{
  text-align: center;
  width: 20%;
  transition: 0.4s;
}

#location-input:focus{
  width: 70%;
}

.centered{
  margin: 0 auto;
  float: none;
}

.searchbar{
  text-align: center;
  height: 150px;
}

.searchbar input{
  margin-top: 15px; 
}

.card{
  border: 1px solid #CCC;
  border-radius: 5px;
  text-align: center;
}

.card .card-img-top{
  border-radius: 50% !important;
  display: block;
  margin: 0 auto 5px auto;
}

a{
  cursor: pointer;
  cursor: hand;
}

.item-container, .results{
  margin-top: 15px !important;
}

.loading-screen{
  margin: 20px;
}
